.home-cards {
    margin-top: 3%;
    margin-left: 3%;
    display: inline-block;
    border-radius: 5px;
    min-height: 40vh;
    width: 40%;
    background-color:#000;
}

.home-cards h4{
    text-align: center;
    margin-top: 23%;
    color: #fff;
    font-size: 130%;
}

#disk-scheduling{
    background-image: url("../assets/images/hard-disk1.jpg");
    background-size: 100%;
}

#disk-scheduling:hover{
    box-shadow:5px 5px 10px #000;
}

#scheduling{
    background-image: url("../assets/images/scheduling-bg.jpg");
    background-size: 100%;
}

#scheduling:hover{
    box-shadow:5px 5px 10px #000;
}

#page-replacement{
    background-image: url("../assets/images/page-replacement-bg.jpg");
    background-size: 100%;
}

#page-replacement:hover{
    box-shadow:5px 5px 10px #000;
}

#concurrency-deadlock{
    background-image: url("../assets/images/concurrency-deadlock-bg.jpg");
    background-size: 100%;
}

#concurrency-deadlock:hover{
    box-shadow:5px 5px 10px #000;
}

#disk-scheduling, #page-replacement{
    margin-left: 8%;
}